<div class="col-md-3">
  <div class="panel panel-info">
      <div class="panel-heading">
          <h3 class="panel-title">{{name}}</h3>
      </div>
      <div class="panel-body">
        {{partial "partials/first_commands"}}
        {{#link-to 'controlListView' parentListView class="btn btn-default btn-block"}}
          <i class="fa fa-pencil-square-o"></i> Edit list view
        {{/link-to}}

        <ul class="nav nav-tabs spacer">
          <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-pencil"></i></a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            {{input-text label="Name" value=name action='acceptChanges'}}
            {{input-text label="Title" value=title action='acceptChanges'}}
          </div>
        </div>
        
      </div>
      <div class="panel-footer">
         <div class="btn-group">
            <button type="button" class="btn btn-default" {{action "delete"}}>
              <i class="fa fa-trash-o"></i> 
            </button>
          </div>
      </div>
  </div>
</div>