<div class="col-md-3">
	<div class="panel panel-info">
	    <div class="panel-heading">
	        <h3 class="panel-title">{{name}}</h3>
	    </div>
	    <div class="panel-body">
        {{partial "partials/first_commands"}}
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home" data-toggle="tab"><i class="fa fa-pencil"></i></a></li>
          <li><a href="#hierarchy" data-toggle="tab"><i class="fa fa-sitemap"></i></a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" id="home">
            {{input-text label="Name" value=name action='acceptChanges'}}
            <label {{bind-attr class=":btn :btn-default launcher:active"}}>
              {{input type="checkbox" checked=launcher class="hidden"}} <i class="fa fa-home"></i> Set launcher
            </label>
          </div>
          <div class="tab-pane fade" id="hierarchy">
            <div class="tree">
              <ul>
                <li><span><i class="fa fa-mobile"></i> {{name}}</span></li>
                <ul>
                  {{partial "partials/tree_container"}}
                </ul>
              </ul>
            </div>
          </div>
        </div>
	    </div>
	    <div class="panel-footer">
	    	 <div class="btn-group">
            <button type="button" class="btn btn-default" {{action "deleteViewController"}}>
              <i class="fa fa-trash-o"></i> 
            </button>
          </div>
          <div class="btn-group pull-right">
            {{#link-to 'appMenu' application.menu class="btn btn-default"}}
              <i class="fa fa-pencil-square-o"></i> Edit menu
            {{/link-to}}
          </div>  
	    </div>
	</div>
</div>