<!-- Padding -->
<p>Padding</p>
{{input-text label="Top" value=paddingTop action='acceptChanges' type="number"}}
{{input-text label="Bottom" value=paddingBottom action='acceptChanges' type="number"}}
{{input-text label="Start" value=paddingStart action='acceptChanges' type="number"}}
{{input-text label="End" value=paddingEnd action='acceptChanges' type="number"}}

<!-- Margin -->
<p>Margin</p>
{{input-text label="Top" value=marginTop action='acceptChanges' type="number"}}
{{input-text label="Bottom" value=marginBottom action='acceptChanges' type="number"}}
{{input-text label="Start" value=marginStart action='acceptChanges' type="number"}}
{{input-text label="End" value=marginEnd action='acceptChanges' type="number"}}