<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        App name: {{name}} {{device.name}} {{device.platform}}
      </div>
      <div class="col-md-4">
        <div class="form-inline">
          {{view Ember.Select content=devices optionLabelPath='content.label' optionValuePath="content" class="form-control" value=device}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="pull-right">
          <button class="btn btn-default" {{action 'generateAppModel'}}>Model</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}